USE [Wellmeadows]
GO
/****** Object:  Table [dbo].[NextOfKin]    Script Date: 9/30/2025 3:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NextOfKin](
	[NextOfKin_ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Relationship] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[NextOfKin_Tel] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NextOfKin_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 9/30/2025 3:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[Patient_ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[P_Tel] [nvarchar](20) NOT NULL,
	[BirthDate] [date] NOT NULL,
	[Sex] [char](1) NOT NULL,
	[Marital_Status] [nvarchar](20) NOT NULL,
	[Date_Registered] [date] NOT NULL,
	[NextOfKin_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Patient_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_PatientRegistration]    Script Date: 9/30/2025 3:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* 6) Patient Registration */
CREATE   VIEW [dbo].[vw_PatientRegistration] AS
SELECT p.Patient_ID, p.FirstName, p.LastName, p.Sex, p.BirthDate, p.P_Tel,
       p.Marital_Status, p.Date_Registered,
       p.NextOfKin_ID, nk.FirstName + N' ' + nk.LastName AS NextOfKinName
FROM dbo.Patient p
JOIN dbo.NextOfKin nk ON nk.NextOfKin_ID = p.NextOfKin_ID;
GO
/****** Object:  Table [dbo].[Ward]    Script Date: 9/30/2025 3:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ward](
	[WardNumber] [int] IDENTITY(1,1) NOT NULL,
	[WardName] [nvarchar](100) NOT NULL,
	[WardLocation] [nvarchar](50) NOT NULL,
	[TotalBed] [int] NOT NULL,
	[TelExten] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WardNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bed]    Script Date: 9/30/2025 3:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bed](
	[Bed_Number] [int] IDENTITY(1,1) NOT NULL,
	[Bed_Status] [nvarchar](20) NOT NULL,
	[Bed_Type] [nvarchar](50) NOT NULL,
	[WardNumber] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Bed_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Waiting_List]    Script Date: 9/30/2025 3:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Waiting_List](
	[Waiting_ID] [int] IDENTITY(1,1) NOT NULL,
	[Date_Added] [date] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[WardNumber] [int] NOT NULL,
	[Patient_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Waiting_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[In_Patient]    Script Date: 9/30/2025 3:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[In_Patient](
	[Inpatient_ID] [int] IDENTITY(1,1) NOT NULL,
	[Ward_Required] [nvarchar](50) NOT NULL,
	[ExpectedToStay] [int] NOT NULL,
	[DateInWard] [date] NOT NULL,
	[ExpectLeaveWard] [date] NULL,
	[DateLeaveWard] [date] NULL,
	[Patient_ID] [int] NOT NULL,
	[NextOfKin_ID] [int] NOT NULL,
	[Bed_Number] [int] NOT NULL,
	[Waiting_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Inpatient_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_InPatientStatus]    Script Date: 9/30/2025 3:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* 8) In-Patient Status */
CREATE   VIEW [dbo].[vw_InPatientStatus] AS
SELECT
  ip.Inpatient_ID,
  ip.Ward_Required,
  ip.ExpectedToStay,
  ip.DateInWard,
  ip.ExpectLeaveWard,
  ip.DateLeaveWard,
  p.Patient_ID,
  p.FirstName + N' ' + p.LastName AS PatientName,
  b.Bed_Number,
  b.Bed_Status,
  w.WardName,
  wl.Waiting_ID,
  wl.Status AS WaitingStatus
FROM dbo.In_Patient ip
JOIN dbo.Patient p ON p.Patient_ID = ip.Patient_ID
JOIN dbo.Bed     b ON b.Bed_Number = ip.Bed_Number
JOIN dbo.Ward    w ON w.WardNumber = b.WardNumber
LEFT JOIN dbo.Waiting_List wl ON wl.Waiting_ID = ip.Waiting_ID;
GO
/****** Object:  View [dbo].[vw_WaitingList]    Script Date: 9/30/2025 3:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* 9) Waiting List */
CREATE   VIEW [dbo].[vw_WaitingList] AS
SELECT
  wl.Waiting_ID,
  p.Patient_ID,
  p.FirstName + N' ' + p.LastName AS PatientName,
  wl.Date_Added   AS DateAdded,
  w.WardName      AS WardRequired,
  wl.Status
FROM dbo.Waiting_List wl
JOIN dbo.Patient p ON p.Patient_ID = wl.Patient_ID
JOIN dbo.Ward    w ON w.WardNumber = wl.WardNumber;
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 9/30/2025 3:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[StaffID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[FullAddress] [nvarchar](255) NOT NULL,
	[Tel] [nvarchar](20) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Sex] [char](1) NOT NULL,
	[NIN] [nvarchar](20) NOT NULL,
	[Position] [nvarchar](50) NOT NULL,
	[CurrentSalary] [decimal](10, 2) NOT NULL,
	[SalaryScale] [nvarchar](50) NOT NULL,
	[TypeEmpContract] [nvarchar](20) NOT NULL,
	[SalaryPayment] [nvarchar](20) NOT NULL,
	[HoursPerWeek] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChargeNurse]    Script Date: 9/30/2025 3:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChargeNurse](
	[CN_ID] [int] IDENTITY(1,1) NOT NULL,
	[StaffID] [int] NOT NULL,
	[WardNumber] [int] NULL,
	[ClinicNumber] [int] NULL,
	[Budget] [decimal](12, 2) NOT NULL,
	[CN_StartDate] [date] NOT NULL,
	[CN_EndDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[CN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pharmaceutical_Supplie]    Script Date: 9/30/2025 3:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pharmaceutical_Supplie](
	[Drug_Number] [int] IDENTITY(1,1) NOT NULL,
	[DrugName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[Dosage] [nvarchar](50) NOT NULL,
	[Method_of_admin] [nvarchar](30) NOT NULL,
	[Qty_in_stock] [int] NOT NULL,
	[Reorder_level] [int] NOT NULL,
	[Cost_per_unit] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Drug_Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatientMedication]    Script Date: 9/30/2025 3:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientMedication](
	[Medication_ID] [int] IDENTITY(1,1) NOT NULL,
	[UnitPer] [int] NOT NULL,
	[Method_of_admin] [nvarchar](30) NOT NULL,
	[StartDate] [date] NOT NULL,
	[FinishDate] [date] NULL,
	[Patient_ID] [int] NOT NULL,
	[Drug_Number] [int] NOT NULL,
	[CN_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Medication_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_PatientMedication]    Script Date: 9/30/2025 3:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* 10) Patient Medication */
CREATE   VIEW [dbo].[vw_PatientMedication] AS
SELECT
  pm.Medication_ID,
  p.Patient_ID,
  p.FirstName + N' ' + p.LastName AS PatientName,
  d.Drug_Number   AS DrugID,
  d.DrugName,
  d.Dosage,
  pm.Method_of_admin,
  pm.UnitPer,
  pm.StartDate,
  pm.FinishDate,
  cn.CN_ID,
  ns.FirstName + N' ' + ns.LastName AS ChargeNurseName
FROM dbo.PatientMedication pm
JOIN dbo.Patient p                ON p.Patient_ID    = pm.Patient_ID
JOIN dbo.Pharmaceutical_Supplie d ON d.Drug_Number   = pm.Drug_Number
JOIN dbo.ChargeNurse cn           ON cn.CN_ID        = pm.CN_ID
JOIN dbo.Staff ns                 ON ns.StaffID      = cn.StaffID;
GO
/****** Object:  View [dbo].[vw_PharmaceuticalSupplie]    Script Date: 9/30/2025 3:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* 11) Pharmaceutical Supplie */
CREATE   VIEW [dbo].[vw_PharmaceuticalSupplie] AS
SELECT Drug_Number AS DrugID, DrugName, [Description], Dosage, Method_of_admin,
       Qty_in_stock, Reorder_level, Cost_per_unit
FROM dbo.Pharmaceutical_Supplie;
GO
/****** Object:  Table [dbo].[Ward_Requisition]    Script Date: 9/30/2025 3:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ward_Requisition](
	[Requisition_ID] [int] IDENTITY(1,1) NOT NULL,
	[Requisition_date] [date] NOT NULL,
	[CN_ID] [int] NOT NULL,
	[WardNumber] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Requisition_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Requisition]    Script Date: 9/30/2025 3:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* 12) Requisition (header) */
CREATE   VIEW [dbo].[vw_Requisition] AS
SELECT wr.Requisition_ID, wr.Requisition_date, wr.WardNumber,
       w.WardName, w.TelExten,
       cn.CN_ID,
       s.StaffID AS Nurse_ID,
       s.FirstName + N' ' + s.LastName AS NurseName
FROM dbo.Ward_Requisition wr
JOIN dbo.Ward        w  ON w.WardNumber = wr.WardNumber
JOIN dbo.ChargeNurse cn ON cn.CN_ID     = wr.CN_ID
JOIN dbo.Staff       s  ON s.StaffID    = cn.StaffID;
GO
/****** Object:  Table [dbo].[Requisition_Item]    Script Date: 9/30/2025 3:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requisition_Item](
	[Item_ID] [int] IDENTITY(1,1) NOT NULL,
	[Quantity_requested] [int] NOT NULL,
	[Requisition_ID] [int] NOT NULL,
	[Drug_Number] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Item_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_RequisitionItems]    Script Date: 9/30/2025 3:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* 13) Requisition Items */
CREATE   VIEW [dbo].[vw_RequisitionItems] AS
SELECT
  ri.Item_ID,
  ri.Requisition_ID,
  d.Drug_Number AS DrugID,
  d.DrugName,
  d.[Description],
  d.Dosage,
  d.Method_of_admin,
  d.Cost_per_unit,
  ri.Quantity_requested
FROM dbo.Requisition_Item ri
JOIN dbo.Pharmaceutical_Supplie d ON d.Drug_Number = ri.Drug_Number;
GO
/****** Object:  Table [dbo].[WardReport]    Script Date: 9/30/2025 3:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WardReport](
	[ReportWard_ID] [int] IDENTITY(1,1) NOT NULL,
	[Generated_Date] [date] NOT NULL,
	[Ward_Number] [int] NOT NULL,
	[Bed_Number] [int] NOT NULL,
	[Waiting_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportWard_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_WardReport]    Script Date: 9/30/2025 3:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* 15) WardReport */
CREATE   VIEW [dbo].[vw_WardReport] AS
SELECT
  wr.ReportWard_ID,
  wr.Generated_Date,
  w.WardNumber,
  w.WardName,
  w.TelExten,
  w.TotalBed AS TotalBeds,
  (SELECT COUNT(*) FROM dbo.Bed b WHERE b.WardNumber = w.WardNumber AND b.Bed_Status = N'Occupied')  AS Beds_Used,
  (SELECT COUNT(*) FROM dbo.Bed b WHERE b.WardNumber = w.WardNumber AND b.Bed_Status = N'Available') AS Beds_Available,
  (SELECT COUNT(*) FROM dbo.Waiting_List wl WHERE wl.WardNumber = w.WardNumber)                        AS Waiting_Count
FROM dbo.WardReport wr
JOIN dbo.Ward w ON w.WardNumber = wr.Ward_Number
GROUP BY wr.ReportWard_ID, wr.Generated_Date, w.WardNumber, w.WardName, w.TelExten, w.TotalBed;
GO
/****** Object:  Table [dbo].[MedicationReport]    Script Date: 9/30/2025 3:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicationReport](
	[ReportMed_ID] [int] IDENTITY(1,1) NOT NULL,
	[Generated_Date] [date] NOT NULL,
	[Drug_Number] [int] NOT NULL,
	[Medication_ID] [int] NOT NULL,
	[Patient_ID] [int] NOT NULL,
	[Item_ID] [int] NULL,
	[CN_ID] [int] NOT NULL,
	[Staff_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportMed_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_MedicationReport]    Script Date: 9/30/2025 3:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* 16) MedicationReport */
CREATE   VIEW [dbo].[vw_MedicationReport] AS
SELECT
  mr.ReportMed_ID,
  mr.Generated_Date,
  p.Patient_ID,
  p.FirstName + N' ' + p.LastName AS PatientName,
  pm.Medication_ID,
  d.Drug_Number AS DrugID,
  d.DrugName,
  d.Dosage,
  pm.Method_of_admin,
  pm.UnitPer,
  pm.StartDate,
  pm.FinishDate,
  mr.CN_ID,
  ns.FirstName + N' ' + ns.LastName AS ChargeNurseName
FROM dbo.MedicationReport mr
JOIN dbo.PatientMedication pm     ON pm.Medication_ID = mr.Medication_ID
JOIN dbo.Pharmaceutical_Supplie d ON d.Drug_Number    = pm.Drug_Number
JOIN dbo.Patient p                ON p.Patient_ID     = mr.Patient_ID
JOIN dbo.ChargeNurse cn           ON cn.CN_ID         = mr.CN_ID
JOIN dbo.Staff ns                 ON ns.StaffID       = cn.StaffID;
GO
/****** Object:  View [dbo].[vw_WardSummary]    Script Date: 9/30/2025 3:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* 17) WardSummary (ออปชัน สำหรับสรุป) */
CREATE   VIEW [dbo].[vw_WardSummary] AS
SELECT
  w.WardNumber,
  w.WardName,
  w.WardLocation AS [Location],
  w.TelExten,
  w.TotalBed AS TotalBeds,
  SUM(CASE WHEN b.Bed_Status = N'Occupied'  THEN 1 ELSE 0 END) AS Beds_Used,
  SUM(CASE WHEN b.Bed_Status = N'Available' THEN 1 ELSE 0 END) AS Beds_Available,
  COUNT(wl.Waiting_ID) AS Waiting_Count
FROM dbo.Ward w
LEFT JOIN dbo.Bed b         ON b.WardNumber  = w.WardNumber
LEFT JOIN dbo.Waiting_List wl ON wl.WardNumber = w.WardNumber
GROUP BY w.WardNumber, w.WardName, w.WardLocation, w.TotalBed, w.TelExten;
GO
/****** Object:  View [dbo].[vw_WardLatestRequisition]    Script Date: 9/30/2025 3:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_WardLatestRequisition]
AS
WITH R AS (
    SELECT
        wr.WardNumber,
        wr.Requisition_ID,
        wr.Requisition_date,
        ri.Drug_Number,
        ri.Quantity_requested,
        ROW_NUMBER() OVER (
            PARTITION BY wr.WardNumber
            ORDER BY wr.Requisition_date DESC, wr.Requisition_ID DESC, ri.Item_ID ASC
        ) AS rn
    FROM dbo.Ward_Requisition AS wr
    LEFT JOIN dbo.Requisition_Item AS ri
        ON ri.Requisition_ID = wr.Requisition_ID
)
SELECT
    w.WardNumber,
    w.WardName,
    r.Requisition_ID,
    r.Requisition_date,
    r.Drug_Number,
    ps.DrugName,
    ps.[Description],
    ps.Dosage,
    ps.Method_of_admin,
    ps.Qty_in_stock,
    ps.Reorder_level,
    ps.Cost_per_unit,
    r.Quantity_requested
FROM dbo.Ward AS w
LEFT JOIN R AS r
    ON r.WardNumber = w.WardNumber AND r.rn = 1
LEFT JOIN dbo.Pharmaceutical_Supplie AS ps      -- << ชื่อที่ถูกต้อง
    ON ps.Drug_Number = r.Drug_Number;
GO
/****** Object:  Table [dbo].[Shift]    Script Date: 9/30/2025 3:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shift](
	[ShiftID] [int] IDENTITY(1,1) NOT NULL,
	[Shift_Type] [nvarchar](20) NOT NULL,
	[Start_Time] [time](0) NOT NULL,
	[End_Time] [time](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ShiftID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffAssignment]    Script Date: 9/30/2025 3:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffAssignment](
	[AssignmentID] [int] IDENTITY(1,1) NOT NULL,
	[Role_In_Shift] [nvarchar](100) NOT NULL,
	[WeekID] [int] NULL,
	[ShiftID] [int] NOT NULL,
	[StaffID] [int] NOT NULL,
	[WardNumber] [int] NULL,
	[ClinicNumber] [int] NULL,
	[CN_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AssignmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_StaffAssignment]    Script Date: 9/30/2025 3:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- สร้าง view ใหม่
CREATE VIEW [dbo].[vw_StaffAssignment]
AS
SELECT
    sa.AssignmentID,
    sa.StaffID,
    -- ชื่อพนักงาน
    LTRIM(RTRIM(ISNULL(s.FirstName, ''))) +
        CASE WHEN ISNULL(s.LastName,'') <> '' THEN ' ' + s.LastName ELSE '' END
        AS StaffName,
    -- วอร์ด
    sa.WardNumber,
    w.WardName,
    -- ใช้ Role_In_Shift เป็นตำแหน่ง/หน้าที่ในตารางแสดงผล
    sa.Role_In_Shift AS Position,
    -- ชื่อกะจากตาราง Shift
    sh.Shift_Type    AS [Shift],
    -- คอลัมน์ประกอบอื่น ๆ (เผื่อใช้ต่อ)
    sa.WeekID,
    sa.ShiftID,
    sa.ClinicNumber,
    sa.CN_ID
FROM dbo.StaffAssignment  AS sa
LEFT JOIN dbo.Staff       AS s  ON s.StaffID    = sa.StaffID
LEFT JOIN dbo.Ward        AS w  ON w.WardNumber = sa.WardNumber
LEFT JOIN dbo.[Shift]     AS sh ON sh.ShiftID   = sa.ShiftID;
GO
/****** Object:  Table [dbo].[PatientAppointment]    Script Date: 9/30/2025 3:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientAppointment](
	[Appointment_ID] [int] IDENTITY(1,1) NOT NULL,
	[Patient_ID] [int] NOT NULL,
	[WardNumber] [int] NOT NULL,
	[Date_appoint] [date] NOT NULL,
	[Time_appoint] [time](0) NULL,
	[ExaminationRoom] [nvarchar](50) NULL,
	[Status] [nvarchar](30) NULL,
	[Staff_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Appointment_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_PatientAppointments]    Script Date: 9/30/2025 3:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_PatientAppointments] AS
SELECT
    pa.Appointment_ID,
    pa.Patient_ID,
    -- ชื่อผู้ป่วย
    LTRIM(RTRIM(ISNULL(p.FirstName,''))) +
      CASE WHEN ISNULL(p.LastName,'') <> '' THEN ' ' + p.LastName ELSE '' END AS PatientName,
    -- วอร์ด
    pa.WardNumber,
    w.WardName,
    -- วันที่นัด: alias เป็น Appt_Date เพื่อให้โค้ดเจอ
    pa.Date_appoint AS Appt_Date,
    -- เวลา (ถ้ามี)
    pa.Time_appoint,
    -- ห้อง/สถานะ
    pa.ExaminationRoom,
    pa.Status,
    -- สตาฟ/แพทย์
    pa.Staff_ID
FROM dbo.PatientAppointment pa
JOIN dbo.Patient p ON p.Patient_ID = pa.Patient_ID
JOIN dbo.Ward    w ON w.WardNumber = pa.WardNumber
LEFT JOIN dbo.Staff s ON s.StaffID = pa.Staff_ID;
GO
/****** Object:  View [dbo].[v_StaffLiveReport]    Script Date: 9/30/2025 3:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[v_StaffLiveReport] AS
SELECT
    s.StaffID AS Staff_ID,
    s.FirstName + ' ' + s.LastName AS StaffName,
    s.Position,
    COUNT(a.AssignmentID) AS Total_Shifts,
    SUM(
        CASE
          WHEN sh.Start_Time IS NOT NULL AND sh.End_Time IS NOT NULL
            THEN DATEDIFF(MINUTE, sh.Start_Time, sh.End_Time) / 60.0
          ELSE 0
        END
    ) AS Total_Hours
FROM dbo.Staff s
LEFT JOIN dbo.StaffAssignment a
       ON a.StaffID = s.StaffID
LEFT JOIN dbo.Shift sh
       ON sh.ShiftID = a.ShiftID         -- ใช้คีย์นี้คำนวณชั่วโมง
GROUP BY s.StaffID, s.FirstName, s.LastName, s.Position;
GO
/****** Object:  View [dbo].[vw_MedicationRequestsSummary]    Script Date: 9/30/2025 3:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_MedicationRequestsSummary]
AS
SELECT
    w.WardNumber,
    w.WardName,
    ri.Drug_Number                               AS Drug_Number,   -- รหัสยา
    ISNULL(ps.DrugName, N'')                     AS DrugName,      -- ชื่อยา
    COUNT(*)                                     AS Requests,      -- จำนวนรายการที่ขอยานี้จากวอร์ดนั้น
    SUM(ri.Quantity_requested)                   AS TotalRequested,-- ยอดรวมที่ขอ
    ISNULL(ps.Qty_in_stock, 0)                   AS Qty_in_stock   -- คงเหลือในสต๊อก
FROM dbo.Requisition_Item       AS ri
JOIN dbo.Ward_Requisition       AS wr ON wr.Requisition_ID = ri.Requisition_ID
JOIN dbo.Ward                   AS w  ON w.WardNumber      = wr.WardNumber
LEFT JOIN dbo.Pharmaceutical_Supplie AS ps ON ps.Drug_Number = ri.Drug_Number
GROUP BY
    w.WardNumber, w.WardName,
    ri.Drug_Number, ps.DrugName, ps.Qty_in_stock;
GO
/****** Object:  View [dbo].[vw_HomeQuickStats]    Script Date: 9/30/2025 3:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* 1) Home Quick Stats */
CREATE   VIEW [dbo].[vw_HomeQuickStats] AS
SELECT
  (SELECT COUNT(*) FROM dbo.Ward)                                   AS TotalWards,
  (SELECT COUNT(*) FROM dbo.Bed)                                    AS TotalBeds,
  (SELECT COUNT(*) FROM dbo.Bed WHERE Bed_Status = N'Available')    AS BedsAvailable,
  (SELECT COUNT(*) FROM dbo.Staff)                                  AS TotalStaff,
  (SELECT COUNT(*) FROM dbo.Patient)                                AS TotalPatients,
  (SELECT COUNT(*) FROM dbo.PatientAppointment
     WHERE Date_appoint = CONVERT(date, GETDATE()))                 AS AppointmentsToday,
  (SELECT COUNT(*) FROM dbo.Pharmaceutical_Supplie
     WHERE Qty_in_stock <= Reorder_level)                           AS LowStockCount;
GO
/****** Object:  View [dbo].[vw_Ward]    Script Date: 9/30/2025 3:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* 2) Ward */
CREATE   VIEW [dbo].[vw_Ward] AS
SELECT WardNumber, WardName, WardLocation AS [Location], TotalBed AS TotalBeds, TelExten
FROM dbo.Ward;
GO
/****** Object:  View [dbo].[vw_Bed]    Script Date: 9/30/2025 3:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* 3) Bed */
CREATE   VIEW [dbo].[vw_Bed] AS
SELECT b.Bed_Number AS BedNumber, b.WardNumber, b.Bed_Type AS BedType, b.Bed_Status AS BedStatus,
       w.WardName
FROM dbo.Bed b
JOIN dbo.Ward w ON w.WardNumber = b.WardNumber;
GO
/****** Object:  View [dbo].[vw_Staff]    Script Date: 9/30/2025 3:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* 4) Staff */
CREATE   VIEW [dbo].[vw_Staff] AS
SELECT StaffID, FirstName, LastName, FullAddress, Tel, Position, SalaryScale
FROM dbo.Staff;
GO
/****** Object:  Table [dbo].[Clinic]    Script Date: 9/30/2025 3:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clinic](
	[ClinicNumber] [int] IDENTITY(1,1) NOT NULL,
	[ClinicName] [nvarchar](100) NOT NULL,
	[ClinicLocation] [nvarchar](100) NOT NULL,
	[TelClinic] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClinicNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocalDoctor]    Script Date: 9/30/2025 3:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocalDoctor](
	[LD_ID] [int] IDENTITY(1,1) NOT NULL,
	[Full_Name] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[Tel_LD] [nvarchar](20) NOT NULL,
	[Clinic_Number] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Qualification]    Script Date: 9/30/2025 3:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Qualification](
	[QualID] [int] IDENTITY(1,1) NOT NULL,
	[StaffID] [int] NOT NULL,
	[QualDate] [date] NOT NULL,
	[QualType] [nvarchar](100) NOT NULL,
	[Institution] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QualID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffReport]    Script Date: 9/30/2025 3:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffReport](
	[ReportStaff_ID] [int] IDENTITY(1,1) NOT NULL,
	[Generated_Date] [date] NOT NULL,
	[Total_Shifts] [int] NOT NULL,
	[Total_Hours] [decimal](8, 2) NOT NULL,
	[Staff_ID] [int] NOT NULL,
	[Assignment_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportStaff_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Week]    Script Date: 9/30/2025 3:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Week](
	[WeekID] [int] IDENTITY(1,1) NOT NULL,
	[Week_On] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WeekID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkExperience]    Script Date: 9/30/2025 3:30:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkExperience](
	[WorkExID] [int] IDENTITY(1,1) NOT NULL,
	[StaffID] [int] NOT NULL,
	[Name_Organization] [nvarchar](100) NOT NULL,
	[Ex_Position] [nvarchar](50) NOT NULL,
	[Start_Date] [date] NOT NULL,
	[Finish_Date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkExID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bed] ON 

INSERT [dbo].[Bed] ([Bed_Number], [Bed_Status], [Bed_Type], [WardNumber]) VALUES (601, N'Occupied', N'Standard', 201)
INSERT [dbo].[Bed] ([Bed_Number], [Bed_Status], [Bed_Type], [WardNumber]) VALUES (602, N'Occupied', N'Standard', 201)
INSERT [dbo].[Bed] ([Bed_Number], [Bed_Status], [Bed_Type], [WardNumber]) VALUES (603, N'Available', N'ICU', 201)
SET IDENTITY_INSERT [dbo].[Bed] OFF
SET IDENTITY_INSERT [dbo].[ChargeNurse] ON 

INSERT [dbo].[ChargeNurse] ([CN_ID], [StaffID], [WardNumber], [ClinicNumber], [Budget], [CN_StartDate], [CN_EndDate]) VALUES (801, 102, 201, NULL, CAST(50000.00 AS Decimal(12, 2)), CAST(N'2004-01-01' AS Date), NULL)
INSERT [dbo].[ChargeNurse] ([CN_ID], [StaffID], [WardNumber], [ClinicNumber], [Budget], [CN_StartDate], [CN_EndDate]) VALUES (802, 102, NULL, 301, CAST(50000.00 AS Decimal(12, 2)), CAST(N'2004-01-01' AS Date), NULL)
INSERT [dbo].[ChargeNurse] ([CN_ID], [StaffID], [WardNumber], [ClinicNumber], [Budget], [CN_StartDate], [CN_EndDate]) VALUES (803, 103, 202, NULL, CAST(50000.00 AS Decimal(12, 2)), CAST(N'2004-01-01' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[ChargeNurse] OFF
SET IDENTITY_INSERT [dbo].[Clinic] ON 

INSERT [dbo].[Clinic] ([ClinicNumber], [ClinicName], [ClinicLocation], [TelClinic]) VALUES (301, N'Outpatient Main', N'Ground Floor, E Block', N'0131-200-1000')
INSERT [dbo].[Clinic] ([ClinicNumber], [ClinicName], [ClinicLocation], [TelClinic]) VALUES (302, N'Physiotherapy', N'2nd Floor, C Block', N'0131-200-1001')
INSERT [dbo].[Clinic] ([ClinicNumber], [ClinicName], [ClinicLocation], [TelClinic]) VALUES (303, N'Diabetes Clinic', N'1st Floor, B Block', N'0131-200-1002')
SET IDENTITY_INSERT [dbo].[Clinic] OFF
SET IDENTITY_INSERT [dbo].[In_Patient] ON 

INSERT [dbo].[In_Patient] ([Inpatient_ID], [Ward_Required], [ExpectedToStay], [DateInWard], [ExpectLeaveWard], [DateLeaveWard], [Patient_ID], [NextOfKin_ID], [Bed_Number], [Waiting_ID]) VALUES (1401, N'Orthopaedic', 5, CAST(N'2004-01-16' AS Date), CAST(N'2004-01-21' AS Date), NULL, 1102, 1002, 601, 1302)
INSERT [dbo].[In_Patient] ([Inpatient_ID], [Ward_Required], [ExpectedToStay], [DateInWard], [ExpectLeaveWard], [DateLeaveWard], [Patient_ID], [NextOfKin_ID], [Bed_Number], [Waiting_ID]) VALUES (1402, N'Orthopaedic', 4, CAST(N'2004-01-16' AS Date), CAST(N'2004-01-20' AS Date), NULL, 1103, 1003, 602, 1303)
INSERT [dbo].[In_Patient] ([Inpatient_ID], [Ward_Required], [ExpectedToStay], [DateInWard], [ExpectLeaveWard], [DateLeaveWard], [Patient_ID], [NextOfKin_ID], [Bed_Number], [Waiting_ID]) VALUES (1403, N'Orthopaedic', 6, CAST(N'2004-01-16' AS Date), CAST(N'2004-01-22' AS Date), NULL, 1104, 1004, 603, 1304)
SET IDENTITY_INSERT [dbo].[In_Patient] OFF
SET IDENTITY_INSERT [dbo].[LocalDoctor] ON 

INSERT [dbo].[LocalDoctor] ([LD_ID], [Full_Name], [Address], [Tel_LD], [Clinic_Number]) VALUES (1801, N'Dr. Helen Pearson', N'22 Cannongate Way, Edinburgh EH1 6TY', N'0131-332-0102', 301)
INSERT [dbo].[LocalDoctor] ([LD_ID], [Full_Name], [Address], [Tel_LD], [Clinic_Number]) VALUES (1802, N'Dr. Alan Young', N'10 North St, Edinburgh', N'0131-700-1000', 302)
INSERT [dbo].[LocalDoctor] ([LD_ID], [Full_Name], [Address], [Tel_LD], [Clinic_Number]) VALUES (1803, N'Dr. Fiona White', N'11 North St, Edinburgh', N'0131-700-1001', 303)
SET IDENTITY_INSERT [dbo].[LocalDoctor] OFF
SET IDENTITY_INSERT [dbo].[MedicationReport] ON 

INSERT [dbo].[MedicationReport] ([ReportMed_ID], [Generated_Date], [Drug_Number], [Medication_ID], [Patient_ID], [Item_ID], [CN_ID], [Staff_ID]) VALUES (2101, CAST(N'2004-01-31' AS Date), 701, 1501, 1101, 1701, 801, 106)
INSERT [dbo].[MedicationReport] ([ReportMed_ID], [Generated_Date], [Drug_Number], [Medication_ID], [Patient_ID], [Item_ID], [CN_ID], [Staff_ID]) VALUES (2102, CAST(N'2004-01-31' AS Date), 702, 1502, 1103, 1702, 801, 106)
INSERT [dbo].[MedicationReport] ([ReportMed_ID], [Generated_Date], [Drug_Number], [Medication_ID], [Patient_ID], [Item_ID], [CN_ID], [Staff_ID]) VALUES (2103, CAST(N'2004-01-31' AS Date), 703, 1503, 1104, 1703, 801, 106)
SET IDENTITY_INSERT [dbo].[MedicationReport] OFF
SET IDENTITY_INSERT [dbo].[NextOfKin] ON 

INSERT [dbo].[NextOfKin] ([NextOfKin_ID], [FirstName], [LastName], [Relationship], [Address], [NextOfKin_Tel]) VALUES (1001, N'James', N'Phelps', N'Son', N'145 Rowland Street, Paisley, PA2 8PE', N'0141-848-2211')
INSERT [dbo].[NextOfKin] ([NextOfKin_ID], [FirstName], [LastName], [Relationship], [Address], [NextOfKin_Tel]) VALUES (1002, N'Mary', N'MacDonald', N'Wife', N'22 King Rd, Edinburgh', N'0131-600-2222')
INSERT [dbo].[NextOfKin] ([NextOfKin_ID], [FirstName], [LastName], [Relationship], [Address], [NextOfKin_Tel]) VALUES (1003, N'Philip', N'Brown', N'Husband', N'3 Queen Ave, Edinburgh', N'0131-600-3333')
SET IDENTITY_INSERT [dbo].[NextOfKin] OFF
SET IDENTITY_INSERT [dbo].[Patient] ON 

INSERT [dbo].[Patient] ([Patient_ID], [FirstName], [LastName], [Address], [P_Tel], [BirthDate], [Sex], [Marital_Status], [Date_Registered], [NextOfKin_ID]) VALUES (1101, N'Anne', N'Phelps', N'44 North Bridges, Canonmills, Edinburgh EH1 5GH', N'0131-332-4111', CAST(N'1983-12-12' AS Date), N'F', N'Single', CAST(N'2004-02-21' AS Date), 1001)
INSERT [dbo].[Patient] ([Patient_ID], [FirstName], [LastName], [Address], [P_Tel], [BirthDate], [Sex], [Marital_Status], [Date_Registered], [NextOfKin_ID]) VALUES (1102, N'Robert', N'Drumtree', N'10 Hill St, Edinburgh', N'0131-800-0001', CAST(N'1975-06-15' AS Date), N'M', N'Married', CAST(N'2004-01-12' AS Date), 1002)
INSERT [dbo].[Patient] ([Patient_ID], [FirstName], [LastName], [Address], [P_Tel], [BirthDate], [Sex], [Marital_Status], [Date_Registered], [NextOfKin_ID]) VALUES (1103, N'Steven', N'Parks', N'12 Glen Rd, Edinburgh', N'0131-800-0002', CAST(N'1980-07-20' AS Date), N'M', N'Single', CAST(N'2004-01-12' AS Date), 1003)
SET IDENTITY_INSERT [dbo].[Patient] OFF
SET IDENTITY_INSERT [dbo].[PatientAppointment] ON 

INSERT [dbo].[PatientAppointment] ([Appointment_ID], [Patient_ID], [WardNumber], [Date_appoint], [Time_appoint], [ExaminationRoom], [Status], [Staff_ID]) VALUES (1, 1102, 201, CAST(N'2025-09-29' AS Date), CAST(N'09:00:00' AS Time), N'7766', N'Complete', 101)
INSERT [dbo].[PatientAppointment] ([Appointment_ID], [Patient_ID], [WardNumber], [Date_appoint], [Time_appoint], [ExaminationRoom], [Status], [Staff_ID]) VALUES (3, 1101, 201, CAST(N'2025-09-29' AS Date), CAST(N'10:19:13' AS Time), N'7711', N'Cancle', 101)
INSERT [dbo].[PatientAppointment] ([Appointment_ID], [Patient_ID], [WardNumber], [Date_appoint], [Time_appoint], [ExaminationRoom], [Status], [Staff_ID]) VALUES (4, 1101, 201, CAST(N'2025-09-29' AS Date), CAST(N'10:28:58' AS Time), N'8876', N'Complete', 101)
SET IDENTITY_INSERT [dbo].[PatientAppointment] OFF
SET IDENTITY_INSERT [dbo].[PatientMedication] ON 

INSERT [dbo].[PatientMedication] ([Medication_ID], [UnitPer], [Method_of_admin], [StartDate], [FinishDate], [Patient_ID], [Drug_Number], [CN_ID]) VALUES (1501, 50, N'Oral', CAST(N'2004-03-24' AS Date), CAST(N'2004-04-24' AS Date), 1101, 701, 801)
INSERT [dbo].[PatientMedication] ([Medication_ID], [UnitPer], [Method_of_admin], [StartDate], [FinishDate], [Patient_ID], [Drug_Number], [CN_ID]) VALUES (1502, 10, N'Oral', CAST(N'2004-01-17' AS Date), CAST(N'2004-01-21' AS Date), 1103, 702, 801)
INSERT [dbo].[PatientMedication] ([Medication_ID], [UnitPer], [Method_of_admin], [StartDate], [FinishDate], [Patient_ID], [Drug_Number], [CN_ID]) VALUES (1503, 25, N'IV', CAST(N'2004-03-25' AS Date), CAST(N'2004-05-02' AS Date), 1104, 703, 801)
SET IDENTITY_INSERT [dbo].[PatientMedication] OFF
SET IDENTITY_INSERT [dbo].[Pharmaceutical_Supplie] ON 

INSERT [dbo].[Pharmaceutical_Supplie] ([Drug_Number], [DrugName], [Description], [Dosage], [Method_of_admin], [Qty_in_stock], [Reorder_level], [Cost_per_unit]) VALUES (701, N'Morphine', N'Pain killer', N'10mg/ml', N'Oral', 500, 100, CAST(27.75 AS Decimal(10, 2)))
INSERT [dbo].[Pharmaceutical_Supplie] ([Drug_Number], [DrugName], [Description], [Dosage], [Method_of_admin], [Qty_in_stock], [Reorder_level], [Cost_per_unit]) VALUES (702, N'Tetracycline', N'Antibiotic', N'0.5mg/ml', N'Oral', 300, 80, CAST(10.00 AS Decimal(10, 2)))
INSERT [dbo].[Pharmaceutical_Supplie] ([Drug_Number], [DrugName], [Description], [Dosage], [Method_of_admin], [Qty_in_stock], [Reorder_level], [Cost_per_unit]) VALUES (703, N'Morphine', N'Pain killer', N'10mg/ml', N'IV', 200, 50, CAST(30.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Pharmaceutical_Supplie] OFF
SET IDENTITY_INSERT [dbo].[Qualification] ON 

INSERT [dbo].[Qualification] ([QualID], [StaffID], [QualDate], [QualType], [Institution]) VALUES (1, 102, CAST(N'1987-07-12' AS Date), N'BSc Nursing Studies', N'University of Edinburgh')
INSERT [dbo].[Qualification] ([QualID], [StaffID], [QualDate], [QualType], [Institution]) VALUES (2, 103, CAST(N'1995-06-01' AS Date), N'RN', N'Queen Margaret University')
INSERT [dbo].[Qualification] ([QualID], [StaffID], [QualDate], [QualType], [Institution]) VALUES (3, 104, CAST(N'1998-08-20' AS Date), N'RN', N'Napier University')
SET IDENTITY_INSERT [dbo].[Qualification] OFF
SET IDENTITY_INSERT [dbo].[Requisition_Item] ON 

INSERT [dbo].[Requisition_Item] ([Item_ID], [Quantity_requested], [Requisition_ID], [Drug_Number]) VALUES (1701, 50, 1601, 701)
INSERT [dbo].[Requisition_Item] ([Item_ID], [Quantity_requested], [Requisition_ID], [Drug_Number]) VALUES (1702, 30, 1601, 702)
INSERT [dbo].[Requisition_Item] ([Item_ID], [Quantity_requested], [Requisition_ID], [Drug_Number]) VALUES (1703, 20, 1602, 704)
SET IDENTITY_INSERT [dbo].[Requisition_Item] OFF
SET IDENTITY_INSERT [dbo].[Shift] ON 

INSERT [dbo].[Shift] ([ShiftID], [Shift_Type], [Start_Time], [End_Time]) VALUES (501, N'Early', CAST(N'06:00:00' AS Time), CAST(N'14:00:00' AS Time))
INSERT [dbo].[Shift] ([ShiftID], [Shift_Type], [Start_Time], [End_Time]) VALUES (502, N'Late', CAST(N'14:00:00' AS Time), CAST(N'22:00:00' AS Time))
INSERT [dbo].[Shift] ([ShiftID], [Shift_Type], [Start_Time], [End_Time]) VALUES (503, N'Night', CAST(N'22:00:00' AS Time), CAST(N'06:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[Shift] OFF
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([StaffID], [FirstName], [LastName], [FullAddress], [Tel], [DateOfBirth], [Sex], [NIN], [Position], [CurrentSalary], [SalaryScale], [TypeEmpContract], [SalaryPayment], [HoursPerWeek]) VALUES (101, N'Anna', N'Brown', N'10 Elm St, Edinburgh', N'0131-300-0101', CAST(N'1985-02-14' AS Date), N'F', N'NIN-AB-001', N'Staff Nurse', CAST(31000.00 AS Decimal(10, 2)), N'RN-1', N'Permanent', N'Monthly', 40)
INSERT [dbo].[Staff] ([StaffID], [FirstName], [LastName], [FullAddress], [Tel], [DateOfBirth], [Sex], [NIN], [Position], [CurrentSalary], [SalaryScale], [TypeEmpContract], [SalaryPayment], [HoursPerWeek]) VALUES (102, N'Moira', N'Samuel', N'49 School Road, Broxburn', N'01506-456333', CAST(N'1961-05-30' AS Date), N'F', N'WB125423D', N'Charge Nurse', CAST(18760.00 AS Decimal(10, 2)), N'C Scale', N'Permanent', N'Monthly', 37)
INSERT [dbo].[Staff] ([StaffID], [FirstName], [LastName], [FullAddress], [Tel], [DateOfBirth], [Sex], [NIN], [Position], [CurrentSalary], [SalaryScale], [TypeEmpContract], [SalaryPayment], [HoursPerWeek]) VALUES (103, N'Carol', N'Cummings', N'15 High Street, Edinburgh', N'0131-334-5677', CAST(N'1970-03-15' AS Date), N'F', N'NIN-CC-001', N'Staff Nurse', CAST(32000.00 AS Decimal(10, 2)), N'RN-1', N'Permanent', N'Monthly', 40)
SET IDENTITY_INSERT [dbo].[Staff] OFF
SET IDENTITY_INSERT [dbo].[StaffAssignment] ON 

INSERT [dbo].[StaffAssignment] ([AssignmentID], [Role_In_Shift], [WeekID], [ShiftID], [StaffID], [WardNumber], [ClinicNumber], [CN_ID]) VALUES (901, N'Charge Nurse Duty', 401, 501, 102, 201, NULL, 801)
INSERT [dbo].[StaffAssignment] ([AssignmentID], [Role_In_Shift], [WeekID], [ShiftID], [StaffID], [WardNumber], [ClinicNumber], [CN_ID]) VALUES (902, N'Staff Nurse Duty', 402, 502, 103, 202, NULL, 801)
INSERT [dbo].[StaffAssignment] ([AssignmentID], [Role_In_Shift], [WeekID], [ShiftID], [StaffID], [WardNumber], [ClinicNumber], [CN_ID]) VALUES (903, N'Staff Nurse Duty', 403, 503, 104, 201, NULL, 801)
SET IDENTITY_INSERT [dbo].[StaffAssignment] OFF
SET IDENTITY_INSERT [dbo].[StaffReport] ON 

INSERT [dbo].[StaffReport] ([ReportStaff_ID], [Generated_Date], [Total_Shifts], [Total_Hours], [Staff_ID], [Assignment_ID]) VALUES (1901, CAST(N'2004-01-31' AS Date), 5, CAST(40.00 AS Decimal(8, 2)), 102, 901)
INSERT [dbo].[StaffReport] ([ReportStaff_ID], [Generated_Date], [Total_Shifts], [Total_Hours], [Staff_ID], [Assignment_ID]) VALUES (1902, CAST(N'2004-01-31' AS Date), 4, CAST(32.00 AS Decimal(8, 2)), 103, 902)
INSERT [dbo].[StaffReport] ([ReportStaff_ID], [Generated_Date], [Total_Shifts], [Total_Hours], [Staff_ID], [Assignment_ID]) VALUES (1903, CAST(N'2004-01-31' AS Date), 3, CAST(24.00 AS Decimal(8, 2)), 104, 903)
SET IDENTITY_INSERT [dbo].[StaffReport] OFF
SET IDENTITY_INSERT [dbo].[Waiting_List] ON 

INSERT [dbo].[Waiting_List] ([Waiting_ID], [Date_Added], [Status], [WardNumber], [Patient_ID]) VALUES (1301, CAST(N'2004-01-14' AS Date), N'Waiting', 201, 1101)
INSERT [dbo].[Waiting_List] ([Waiting_ID], [Date_Added], [Status], [WardNumber], [Patient_ID]) VALUES (1302, CAST(N'2004-01-12' AS Date), N'Waiting', 201, 1102)
INSERT [dbo].[Waiting_List] ([Waiting_ID], [Date_Added], [Status], [WardNumber], [Patient_ID]) VALUES (1303, CAST(N'2004-01-12' AS Date), N'Waiting', 201, 1103)
SET IDENTITY_INSERT [dbo].[Waiting_List] OFF
SET IDENTITY_INSERT [dbo].[Ward] ON 

INSERT [dbo].[Ward] ([WardNumber], [WardName], [WardLocation], [TotalBed], [TelExten]) VALUES (201, N'Orthopaedic', N'E Block', 6, N'7711')
INSERT [dbo].[Ward] ([WardNumber], [WardName], [WardLocation], [TotalBed], [TelExten]) VALUES (202, N'Geriatric', N'F Block', 4, N'7712')
INSERT [dbo].[Ward] ([WardNumber], [WardName], [WardLocation], [TotalBed], [TelExten]) VALUES (203, N'Cardiology', N'B Block', 6, N'7713')
SET IDENTITY_INSERT [dbo].[Ward] OFF
SET IDENTITY_INSERT [dbo].[Ward_Requisition] ON 

INSERT [dbo].[Ward_Requisition] ([Requisition_ID], [Requisition_date], [CN_ID], [WardNumber]) VALUES (1601, CAST(N'2004-02-15' AS Date), 801, 201)
INSERT [dbo].[Ward_Requisition] ([Requisition_ID], [Requisition_date], [CN_ID], [WardNumber]) VALUES (1602, CAST(N'2004-02-20' AS Date), 801, 201)
INSERT [dbo].[Ward_Requisition] ([Requisition_ID], [Requisition_date], [CN_ID], [WardNumber]) VALUES (1603, CAST(N'2004-02-18' AS Date), 803, 202)
SET IDENTITY_INSERT [dbo].[Ward_Requisition] OFF
SET IDENTITY_INSERT [dbo].[WardReport] ON 

INSERT [dbo].[WardReport] ([ReportWard_ID], [Generated_Date], [Ward_Number], [Bed_Number], [Waiting_ID]) VALUES (2001, CAST(N'2004-01-31' AS Date), 201, 601, 1301)
INSERT [dbo].[WardReport] ([ReportWard_ID], [Generated_Date], [Ward_Number], [Bed_Number], [Waiting_ID]) VALUES (2002, CAST(N'2004-01-31' AS Date), 201, 602, 1302)
INSERT [dbo].[WardReport] ([ReportWard_ID], [Generated_Date], [Ward_Number], [Bed_Number], [Waiting_ID]) VALUES (2003, CAST(N'2004-01-31' AS Date), 201, 603, 1303)
SET IDENTITY_INSERT [dbo].[WardReport] OFF
SET IDENTITY_INSERT [dbo].[Week] ON 

INSERT [dbo].[Week] ([WeekID], [Week_On], [StartDate], [EndDate]) VALUES (401, 35, CAST(N'2025-08-25' AS Date), CAST(N'2025-08-31' AS Date))
INSERT [dbo].[Week] ([WeekID], [Week_On], [StartDate], [EndDate]) VALUES (402, 36, CAST(N'2025-09-01' AS Date), CAST(N'2025-09-07' AS Date))
INSERT [dbo].[Week] ([WeekID], [Week_On], [StartDate], [EndDate]) VALUES (403, 37, CAST(N'2025-09-08' AS Date), CAST(N'2025-09-14' AS Date))
SET IDENTITY_INSERT [dbo].[Week] OFF
SET IDENTITY_INSERT [dbo].[WorkExperience] ON 

INSERT [dbo].[WorkExperience] ([WorkExID], [StaffID], [Name_Organization], [Ex_Position], [Start_Date], [Finish_Date]) VALUES (1, 102, N'Western Hospital', N'Staff Nurse', CAST(N'1990-01-23' AS Date), CAST(N'1993-05-01' AS Date))
INSERT [dbo].[WorkExperience] ([WorkExID], [StaffID], [Name_Organization], [Ex_Position], [Start_Date], [Finish_Date]) VALUES (2, 103, N'Royal Infirmary', N'Staff Nurse', CAST(N'1996-01-01' AS Date), CAST(N'2000-12-31' AS Date))
INSERT [dbo].[WorkExperience] ([WorkExID], [StaffID], [Name_Organization], [Ex_Position], [Start_Date], [Finish_Date]) VALUES (3, 104, N'City Hospital', N'Staff Nurse', CAST(N'2001-02-01' AS Date), CAST(N'2005-01-31' AS Date))
SET IDENTITY_INSERT [dbo].[WorkExperience] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Staff__C7DEC3381CC40AC6]    Script Date: 9/30/2025 3:30:31 AM ******/
ALTER TABLE [dbo].[Staff] ADD UNIQUE NONCLUSTERED 
(
	[NIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Assign_NoDouble]    Script Date: 9/30/2025 3:30:31 AM ******/
ALTER TABLE [dbo].[StaffAssignment] ADD  CONSTRAINT [UQ_Assign_NoDouble] UNIQUE NONCLUSTERED 
(
	[StaffID] ASC,
	[WeekID] ASC,
	[ShiftID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bed]  WITH CHECK ADD FOREIGN KEY([WardNumber])
REFERENCES [dbo].[Ward] ([WardNumber])
GO
ALTER TABLE [dbo].[ChargeNurse]  WITH CHECK ADD FOREIGN KEY([ClinicNumber])
REFERENCES [dbo].[Clinic] ([ClinicNumber])
GO
ALTER TABLE [dbo].[ChargeNurse]  WITH CHECK ADD FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[ChargeNurse]  WITH CHECK ADD FOREIGN KEY([WardNumber])
REFERENCES [dbo].[Ward] ([WardNumber])
GO
ALTER TABLE [dbo].[In_Patient]  WITH CHECK ADD FOREIGN KEY([Bed_Number])
REFERENCES [dbo].[Bed] ([Bed_Number])
GO
ALTER TABLE [dbo].[In_Patient]  WITH CHECK ADD FOREIGN KEY([NextOfKin_ID])
REFERENCES [dbo].[NextOfKin] ([NextOfKin_ID])
GO
ALTER TABLE [dbo].[In_Patient]  WITH CHECK ADD FOREIGN KEY([Patient_ID])
REFERENCES [dbo].[Patient] ([Patient_ID])
GO
ALTER TABLE [dbo].[In_Patient]  WITH CHECK ADD FOREIGN KEY([Waiting_ID])
REFERENCES [dbo].[Waiting_List] ([Waiting_ID])
GO
ALTER TABLE [dbo].[MedicationReport]  WITH CHECK ADD FOREIGN KEY([CN_ID])
REFERENCES [dbo].[ChargeNurse] ([CN_ID])
GO
ALTER TABLE [dbo].[MedicationReport]  WITH CHECK ADD FOREIGN KEY([Drug_Number])
REFERENCES [dbo].[Pharmaceutical_Supplie] ([Drug_Number])
GO
ALTER TABLE [dbo].[MedicationReport]  WITH CHECK ADD FOREIGN KEY([Item_ID])
REFERENCES [dbo].[Requisition_Item] ([Item_ID])
GO
ALTER TABLE [dbo].[MedicationReport]  WITH CHECK ADD FOREIGN KEY([Medication_ID])
REFERENCES [dbo].[PatientMedication] ([Medication_ID])
GO
ALTER TABLE [dbo].[MedicationReport]  WITH CHECK ADD FOREIGN KEY([Patient_ID])
REFERENCES [dbo].[Patient] ([Patient_ID])
GO
ALTER TABLE [dbo].[MedicationReport]  WITH CHECK ADD FOREIGN KEY([Staff_ID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD FOREIGN KEY([NextOfKin_ID])
REFERENCES [dbo].[NextOfKin] ([NextOfKin_ID])
GO
ALTER TABLE [dbo].[PatientAppointment]  WITH CHECK ADD  CONSTRAINT [FK_PAppt_Patient] FOREIGN KEY([Patient_ID])
REFERENCES [dbo].[Patient] ([Patient_ID])
GO
ALTER TABLE [dbo].[PatientAppointment] CHECK CONSTRAINT [FK_PAppt_Patient]
GO
ALTER TABLE [dbo].[PatientAppointment]  WITH CHECK ADD  CONSTRAINT [FK_PAppt_Staff] FOREIGN KEY([Staff_ID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[PatientAppointment] CHECK CONSTRAINT [FK_PAppt_Staff]
GO
ALTER TABLE [dbo].[PatientAppointment]  WITH CHECK ADD  CONSTRAINT [FK_PAppt_Ward] FOREIGN KEY([WardNumber])
REFERENCES [dbo].[Ward] ([WardNumber])
GO
ALTER TABLE [dbo].[PatientAppointment] CHECK CONSTRAINT [FK_PAppt_Ward]
GO
ALTER TABLE [dbo].[PatientMedication]  WITH CHECK ADD FOREIGN KEY([CN_ID])
REFERENCES [dbo].[ChargeNurse] ([CN_ID])
GO
ALTER TABLE [dbo].[PatientMedication]  WITH CHECK ADD FOREIGN KEY([Drug_Number])
REFERENCES [dbo].[Pharmaceutical_Supplie] ([Drug_Number])
GO
ALTER TABLE [dbo].[PatientMedication]  WITH CHECK ADD FOREIGN KEY([Patient_ID])
REFERENCES [dbo].[Patient] ([Patient_ID])
GO
ALTER TABLE [dbo].[Qualification]  WITH CHECK ADD FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Requisition_Item]  WITH CHECK ADD FOREIGN KEY([Drug_Number])
REFERENCES [dbo].[Pharmaceutical_Supplie] ([Drug_Number])
GO
ALTER TABLE [dbo].[Requisition_Item]  WITH CHECK ADD FOREIGN KEY([Requisition_ID])
REFERENCES [dbo].[Ward_Requisition] ([Requisition_ID])
GO
ALTER TABLE [dbo].[StaffAssignment]  WITH CHECK ADD FOREIGN KEY([ClinicNumber])
REFERENCES [dbo].[Clinic] ([ClinicNumber])
GO
ALTER TABLE [dbo].[StaffAssignment]  WITH CHECK ADD FOREIGN KEY([CN_ID])
REFERENCES [dbo].[ChargeNurse] ([CN_ID])
GO
ALTER TABLE [dbo].[StaffAssignment]  WITH CHECK ADD FOREIGN KEY([ShiftID])
REFERENCES [dbo].[Shift] ([ShiftID])
GO
ALTER TABLE [dbo].[StaffAssignment]  WITH CHECK ADD FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[StaffAssignment]  WITH CHECK ADD FOREIGN KEY([WardNumber])
REFERENCES [dbo].[Ward] ([WardNumber])
GO
ALTER TABLE [dbo].[StaffReport]  WITH CHECK ADD FOREIGN KEY([Assignment_ID])
REFERENCES [dbo].[StaffAssignment] ([AssignmentID])
GO
ALTER TABLE [dbo].[StaffReport]  WITH CHECK ADD FOREIGN KEY([Staff_ID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[Waiting_List]  WITH CHECK ADD FOREIGN KEY([Patient_ID])
REFERENCES [dbo].[Patient] ([Patient_ID])
GO
ALTER TABLE [dbo].[Waiting_List]  WITH CHECK ADD FOREIGN KEY([WardNumber])
REFERENCES [dbo].[Ward] ([WardNumber])
GO
ALTER TABLE [dbo].[Ward_Requisition]  WITH CHECK ADD FOREIGN KEY([CN_ID])
REFERENCES [dbo].[ChargeNurse] ([CN_ID])
GO
ALTER TABLE [dbo].[Ward_Requisition]  WITH CHECK ADD FOREIGN KEY([WardNumber])
REFERENCES [dbo].[Ward] ([WardNumber])
GO
ALTER TABLE [dbo].[WardReport]  WITH CHECK ADD FOREIGN KEY([Bed_Number])
REFERENCES [dbo].[Bed] ([Bed_Number])
GO
ALTER TABLE [dbo].[WardReport]  WITH CHECK ADD FOREIGN KEY([Waiting_ID])
REFERENCES [dbo].[Waiting_List] ([Waiting_ID])
GO
ALTER TABLE [dbo].[WardReport]  WITH CHECK ADD FOREIGN KEY([Ward_Number])
REFERENCES [dbo].[Ward] ([WardNumber])
GO
ALTER TABLE [dbo].[WorkExperience]  WITH CHECK ADD FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staff] ([StaffID])
GO
ALTER TABLE [dbo].[ChargeNurse]  WITH CHECK ADD  CONSTRAINT [CK_CN_Unit_XOR] CHECK  (([WardNumber] IS NOT NULL AND [ClinicNumber] IS NULL OR [WardNumber] IS NULL AND [ClinicNumber] IS NOT NULL))
GO
ALTER TABLE [dbo].[ChargeNurse] CHECK CONSTRAINT [CK_CN_Unit_XOR]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [CK_Patient_Sex] CHECK  (([Sex]='M' OR [Sex]='F'))
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [CK_Patient_Sex]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [CK_Staff_Sex] CHECK  (([Sex]='M' OR [Sex]='F'))
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [CK_Staff_Sex]
GO
ALTER TABLE [dbo].[StaffAssignment]  WITH CHECK ADD  CONSTRAINT [CK_Assign_Unit_XOR] CHECK  (([WardNumber] IS NOT NULL AND [ClinicNumber] IS NULL OR [WardNumber] IS NULL AND [ClinicNumber] IS NOT NULL))
GO
ALTER TABLE [dbo].[StaffAssignment] CHECK CONSTRAINT [CK_Assign_Unit_XOR]
GO
